node_modules
dist
dist-ssr
*.local

.claude
.nul

# ملفات أنظمة التشغيل
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ملفات مراجعة للكود وبعض التحسينات لاضافتها 
FRONTEND_SECURITY_FIXES.md
SECURITY_FIXES.md
DEPLOYMENT.md

# ملفات IDE / Editores
.vscode/
.idea/
*.swp
*.swo

# بعض الملفات لتحسين ال ux مستقبلا
.validations

# بيئات بايثون الافتراضية
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/



# بيانات وحزم بايثون
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# ملفات الذاكرة المؤقتة والمحلية
.cache/
.local/
*/cache/
*/local/

# ملفات بيانات Hugging Face نموذجية (مهم جداً في حالتك)
**/cache/huggingface/
**/*.safetensors
**/added_tokens.json
**/config.json
**/generation_config.json

# ملفات المستخدم الشخصية (مهم جداً في حالتك)
.gitconfig
*.xml
*.txt
.gitignore
DEPLOYMENT_GUIDE.md
EMAIL_SETUP_GUIDE.md
DEPLOYMENT_CHECKLIST.md
backend/.env.example
frontend/.env.production
backend/.env.example
backend/.env.example
EASY_DEPLOYMENT.md
HOSTINGER_DEPLOYMENT.md
SIMPLE_ALTERNATIVE.md
frontend/src/App.tsx
backend/.env.example
backend/.env.example
Procfile
RAILWAY_DEPLOYMENT.md
